@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
	margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  background-image: url(bg.jpg);
  color: white;
  font-family: 'Lato', sans-serif;
}

li a {
  color: #7c8699;
}

b {
  color: white;
}

a {
	  text-decoration: none;
}

.header li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.7rem;
  margin-left: 7rem;
  color: #7c8699;
}


.main h1 {
  font-size: 5rem;
  margin-top: 13rem;
}

.prnt li {
  margin-top: 4rem;
  list-style-type: none;
}

.main {
  margin-left: 20rem;
  height: 100vh;
  line-height: 75%;
  margin-top: auto;

}

.prnt {
  display: flex;
  justify-content: space-between;
}

#soc {
  margin-right: 10rem;
}

.about{
  font-weight: 700;
  font-size: 2rem;
  padding-top: 2rem;
  padding-left: 12rem;
  padding-right: 12rem;
  height: 100vh;
  color:#212121;
  background-color: aliceblue;
}

#right {
  text-align: right;
}

.about h1 {
  text-align: center;
  font-size: 5rem;
}

.btn{
  background-color: #505050;
  border: none;
  padding: 0.8rem;
}
.btn:hover{
	transition: 0.5s;
	background-color: #212121;
}

.contact{
  background-color: #505050;
  padding: 2rem;
  text-align: center;
}

a {
	color: white;
}

.contact p{
  font-size:22px ;
}

.projects {
	text-align: center;
	background-color: #C0C0C0;
	padding-top: 1rem;
	height: 100vh;
  color: #333333;
}

.projects a{
	text-decoration:underline dotted;
  color: #333333;
}

.projects h1{
	margin-bottom: 5rem;
	font-size: 3rem;
}

#imgmath {
	border: 3px solid white;
}

.about b{
  color:#212121;
}

#tg {
  border-radius: 100%;
}

#righta {
  text-align: right;
}

#righta ::after{
  content: '◦'; 
  margin-left: 5px; 
  color: black;
}

#rightbold{
  text-align: right;
}

#rightbold ::after{
  content: '•'; 
  margin-left: 5px; 
  color: black;
}

ul li{
  list-style-type: none
}

#leftbold ::before {
  content: '•'; 
  margin-left: 5px; 
  color: black;
}

#leftab ::before{
  content: '◦'; 
  margin-left: 5px; 
  color: black;
}